/*copy right
 */

/*------------------------------------------------------------global style*/
body {
	overflow: auto;
	background: #F4F6F9;
}

a,a:hover {
	text-decoration: none;
}

a {
	color: #212121;
}

a:hover {
	text-shadow: .5px .5px .5px #ddd;
}

p.dropdown-menu {
	padding: 5px;
	text-align: center;
	background: #212121;
	color: #fff;
}

span.glyphicon {
	cursor: pointer;
}

div.container-fluid {
	box-shadow: 0 1px 1px #333;
}

td {
	border: 1px solid #dddddd;
}

/*------------------------------------------------------------nav-inverse style*/

.navbar-inverse .dropdown-menu {
	background: #212121;
	color: #fff;
}

.navbar-inverse .dropdown-menu a {
	padding: 0 15px;
	height: 25px;
	color: #fff;
}

.navbar-inverse .dropdown-menu a span {
	border: none;
}

.dropdown div.dropdown-menu a:hover {
    background: #f5f5f5;
    color: #212121;
}

.brand {
	margin-top: 5px;
	width: 45px;
	padding-left: 5px; 
}

.navbar-brand {
	padding: 0 40px 0 50px;
}

.navigation {
	border: 1px solid #eeeeee;
	height: 50px;
}

span.glyphicon {
	padding: 5px;
	border: 1px solid #fff;
}

span.glyphicon-star-empty {
    border-top-left-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
}

span.glyphicon-user {
	border-top-right-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px; 
}

ul.navbar-right {
	padding-right: 35px;
}

ul.navbar-right a {
	padding: 15px 7.5px;
}

button[type="submit"] {
    height: 34px;
    color: #f5f5f5;
}

span.glyphicon-search {
	padding: 0 5px 0 0;
	border: none;
}

#nav_1 {
	margin-bottom: 0;
	border-radius: 0 0;
}

/*------------------------------------------------------------slide-toolbox style*/

.toolbox {
	display: inline-block;
	position: fixed;
	top: 58px;
	float: left;
	width: 150px;
	height: 595px;
	background: #f5f5f5;
	border-right: 1px solid #eee;
	box-shadow: 1px 0 1px #333;
	-webkit-transition-duration: .5s;
	transition-duration: .5s;
}

.toolbox span {
	border: none;
}


#slider_ {
	font: 100%;
	height: 22px;
	margin: 15px 0 15px 65px;
	background: #f5f5f5;
	cursor: pointer;
	overflow: hidden;
}

.link .glyphicon-plus {
	color: #FFA000;
	border: 1px solid #fff;
	padding-top: 3px;
	padding-bottom: 3px;
	border-radius: 10px;
}

.link .glyphicon-plus:hover {
	border: 1px solid #ddd;
	background: #ddd;
}

a.sale {
	display: inline-block;
	position: relative;
	height: 30px;
	width: 30px;
}

a.sale div {
	display: inline-block;
	height: .4rem;
	width: .4rem;
	background: rgb(84, 105, 141);
	position: absolute;
	border-radius: 50%;
	-webkit-transition: background 100ms;
	transition: background 100ms;
	-webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.slide_content_ {
	list-style: none;
	height: 100%;
	padding: 0px;
	overflow: hidden;
}

.slide_content_ li a {
	display: inline-block;
	padding-left: 40px;
	width: 150px;
}

ul.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	min-width: 148px;
	max-width: 150px
}

.slide_content_ .dropdown-menu li:first-child {
	border: none;
    padding: 0;
    text-align: center;
}

.slide_content_ .dropdown-menu li a:hover {
	background: #F5F5F5;
}

.slide_content_ .dropdown-menu li a {
	padding: 0;
}

.dropdown-menu li a span.glyphicon {
	font-size: 13px;
	line-height: 13px
}

a.link {
	display: table;
	height: 34px;
	line-height: 38px;
	padding: 0;
	overflow: hidden;
}

a.link span {
	display: table-cell;
}

a.link,a.chatter:hover {
	text-decoration: none;
}

.active {
	text-decoration: none;
    background: #fff;
	color: #212121;
	text-shadow: .5px .5px .5px #455A64;
}

.slide_content_ li a:hover {
	text-decoration: none;
	background: #fff;
	color: #212121;
	text-shadow: .5px .5px .5px #455A64;
}

.slide_content_ li a {
	color: #212121;
}

.slide_content_ li:first-child {
	border-top: 1px solid #ddd;
	padding-top: 4px;
}

div.slds-first {
	-webkit-animation: shining .1s ease-in-out 1 normal both;
	animation: shining .1s ease-in-out 1 normal both;
}

div.slds-second {
	-webkit-animation: shining .2s ease-in-out .1s 1 normal both;
	animation: shining .2s ease-in-out .1s 1 normal both;
}

div.slds-third {
	-webkit-animation: shining .3s ease-in-out .2s 1 normal both;
	animation: shining .3s ease-in-out .2s 1 normal both;
}

@-webkit-keyframes shining {
    0% {
    	-webkit-transform: scale(1);
    	transform: scale(1); 
    }
    50% {
    	-webkit-transform: scale(1.3);
    	transform: scale(1.3); 
    }
    100% {
    	-webkit-transform: scale(1);
    	transform: scale(1); 
    }
}

a.sale div.slds-r1 {
	top: 0;
	left: 0;
}

a.sale div.slds-r2 {
    top: 0;
    left: .7rem;
}

a.sale div.slds-r3 {
    top: 0;
    left: 1.4rem;
}

a.sale div.slds-r4 {
    top: .7rem;
    left: 0rem;
}

a.sale div.slds-r5 {
    top: .7rem;
    left: .7rem;
}

a.sale div.slds-r6 {
    top: .7rem;
    left: 1.4rem;
}

a.sale div.slds-r7 {
    top: 1.4rem;
    left: 0rem;
}

a.sale div.slds-r8 {
    top: 1.4rem;
    left: .7rem;
}

a.sale div.slds-r9 {
    top: 1.4rem;
    left: 1.4rem;
}

.toolbox_effect {
	-webkit-transition-duration: .5s;
	transition-duration: .5s;
	width: 0;
	height: 0;
	-webkit-animation: scale_ .3s ease-out 1 normal both;
	animation: scale_ .3s ease-out 1 normal both;
}

@-webkit-keyframes scale_ {
	0% {-webkit-transform: scale(1);}
	100% {-webkit-transform: scale(0);}
}

@keyframes scale_ {
	0% {transform: scale(1);}
	100% {transform: scale(0);}
}

#slider_.slider_effect {
	width: 40px;
	height: 40px;
	border-radius: 20px;
	margin: 200px 0 15px 15px;
	box-shadow: 2px 2px 5px #333;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cc0000+0,cc0000+100;Red+Flat */
	background: rgb(204,0,0); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(204,0,0,.5) 0%, rgba(204,0,0,.5) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(204,0,0,.5) 0%,rgba(204,0,0,.5) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(204,0,0,.5) 0%,rgba(204,0,0,.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0000', endColorstr='#cc0000',GradientType=0 ); /* IE6-9 */
	-webkit-animation: scale_ .5s ease-out 1 normal both;
	animation: scale_ .5s ease-out 1 normal both;
}

@-webkit-keyframes scale_ {
	0% {-webkit-transform: scale(0);}
	100% {-webkit-transform: scale(1);}
}

@keyframes scale_ {
	0% {transform: scale(0);}
	100% {transform: scale(1);}
}

#slider_.slider_effect .sale {
	position: relative;
	display: inline-block;
    margin: 8px 9px;
}

/*-------------------------------------------------------fixed-bottom-nav style*/

.notes span,.history span {
	border: none;
}

.footer_ nav.navbar-fixed-bottom {
	background: #f5f5f5;
}

/*-------------------------------------------------------back-top-button style*/

.back_top {
	position: fixed;
	right: 30px;
    bottom: 70px;
    z-index: 1000;
    width: 50px;
    height: 50px;
    border: 1px solid #ddd;
    display: table;
    text-align: center;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 1px 1px 5px #212121;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff670f+0,ff670f+100 */
    background: rgb(255,103,15); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,103,15,1) 0%, rgba(255,103,15,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,103,15,1) 0%,rgba(255,103,15,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,103,15,1) 0%,rgba(255,103,15,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff670f', endColorstr='#ff670f',GradientType=0 ); /* IE6-9 */
}

.back_top span {
	padding: 0;
    margin: 0;
    border: none;
	font-size: 2em;
	color: #fff;
    display: table-cell;
    vertical-align: middle;
}

/*------------------------------------------------------------chatter style*/

.chatter_content {
	display: flex;
	flex-wrap: nowrap;
	justify-content: left;
	margin: 70px 0 70px 152px;
	-webkit-transition-duration: .5s;
	transition-duration: .5s;
}

.chatter_container {
    flex-grow: 10;
    margin: 0 320px 0 20px;
    border: 1px solid #ddd;
    border-radius: 4px 4px;
    height: auto;
    overflow: hidden;
}

.detail {
	position: fixed;
    flex-grow: 2;
    width: 300px;
    top: 70px;
    right: 0;
	padding: 0 20px 233px 20px;
	border-left: 1px solid #ddd;
    -webkit-transition-duration: .3s;
	transition-duration: .3s;
} 

#chatterContainer,.chatter_folder {
    background: #fff;
}

.chatter_container form {
	border-bottom: 1px solid #ddd;
}

.chatter_container p {
	margin: 0;
	padding: 15px 0px 0px 15px;
	background: #fff;
}

div.tab-pane form {
	padding: 15px;
	background: #fff;
}

.nav-tabs #post_,.nav-tabs #vote_{
	margin-right: 0;
	border-left: none;
	border-top: none;
	border-bottom: none;
	border-right: 1px solid #ddd; 
	border-radius: none;
}

.chatter_folder {
	width: 100%;
	height: auto;
	border: 1px solid #ddd;
	border-radius: 4px 4px;
	padding: 10px 15px;
	display: inline-block;
}

.floatfix:after {
     content:".";        
     display:block;        
     height:0;        
     clear:both;        
     visibility:hidden;        
}

.chatter_detail  {
	background: #fff;
	width: 100%;
	height: 50px;
	border: 1px solid #ddd;
	border-radius: 4px 4px;
	margin-top: 15px;
	padding: 12px 15px;
	display: inline-block;
}

#post_ , #vote_ {
	padding-right: 25px;
}

.chatter_container span {
	border: none;
}

span.glyphicon-menu-down {
	float: right;
	cursor: pointer;
	border: 1px solid #fff;
}

span.glyphicon-menu-down:hover {
    border: 1px solid #ddd;
}

.add_ {
	display: inline-block;
	padding: 15px 15px 15px 0;
	margin: 5px 5px 5px 0;
	border: 1px solid #fff;
	cursor: pointer;
}

div.add_:hover {
	background: #F4F6F9;
	border: 1px solid #ddd;
	border-radius: 4px 4px;
}

.add_ span {
	border: none;
}

.part_ {
	margin-top: 20px;
}

.operation_ {
	display: inline-block;
	height: auto;
	padding: 15px 15px 15px 0;
	margin: 5px 5px 5px 0;
}

.operation_ span {
    cursor: pointer;
    border: 1px solid #fff;
}

.operation_ span:hover {
    border: 1px solid #ddd;
}

.share_ {
	display: inline-block;
	float: right;
	padding: 20px 0;
}

.share_ button {
	width: 150px;
}

.ask_ {
	display: inline-block;
	float: right;
	padding: 20px 0;
}

.ask_ button {
	width: 150px;
}

.folder_show ul {
	list-style: none;
	padding-left: 0;
}

.update_folder {
	margin-top: 20px;
}

.more_ {
	display: inline-block;
	float: right;
}

#dLabel {
	float: right;
	background: #fff;
	border: none;
	padding: 0;
	width: 25px;
	height: 25px;
	margin-right: 20px; 
}

.slide_content_.slide_content_effect {
    display: none;
    width: 0;
}

.chatter_content.chatter_content_effect {
	transition-duration: .5s;
	margin-left: 70px;
	border-left: 1px solid #ddd;
}

.publish_ {
	background: #fff;
	border-top: 1px solid #ddd;
	margin-top: 20px;
	padding-bottom: 40px;
	position: relative;
}

.new_activity {
	display: inline-block;
	cursor: pointer;
}

.new_activity:hover {
	color: #6174f2;
}

.new_activity span.glyphicon-menu-down, .new_activity_title{
	padding: 0;
	float: left;
	border: none;
}

.new_activity span.glyphicon-menu-down {
    padding-left: 10px;
}

.new_activity span.glyphicon-menu-down:hover {
	border: none;
}

.new_activity_tool {
	display: inline-block;
	float: right;
	margin: 15px 15px 0 0; 
}

.new_activity_tool input {
	display: inline-block;
	width: 200px;
    position: absolute;
    top: 0;
    right: 80px;
    margin-top: 12px;
}

.new_activity_tool span {
	padding: 5px;
	margin-left: 5px;
	border: 1px solid #fff;
	cursor: pointer;
}

.new_activity_tool span:hover {
	border: 1px solid #ddd;
}

#new_activity_search_ {
	transition-duration: 1s;
}

.edit_ {
	margin-left: 1px;
	margin-top: -32px;
	width: 99.7%;
	height: auto;
	background: #F4F6F9;
	border-top: 1px solid #ddd;
}

/*.typeface_,.format_ {
	display: inline-block;
	float: left;
	border: 0 1px solid #ddd;
	background: #F4F6F9;
	color: #ddd;
}

.typeface_ {
	border-left: none;
	padding: 0 2px 5px 5px;
}*/

.edit_ span:hover {
	background: #F4F6F9;
}

.format_ {
	margin-left: 10px;
	padding: 0 2px 5px 5px;
}

.flex {
	clear: both;
}

.publish_area {
    width: auto;
    height: auto;
    margin: 15px;
}

#edit button.active_edit {
	background: #fff;
	color: #202020;
	cursor: pointer;
}

.publish_content {
	border-top: 1px solid #ddd;
	padding: 20px 0;
}

.publish_content .choice span {
	padding-right: 5px;
}

.portrait {
	border: 1px solid #ddd;
	border-radius: 22.5px;
	float: left;	
}

.name_ {
	margin-left: 15px;
}

.time {
	margin-left: 15px;
}

.post_content {
    font-size: 1.1em;
    margin: 20px 15px 10px 15px;
}

.choice_ {
	margin: 0 0 15px 15px;
}

.choice_ span {
	padding: 0;
}

.choice_ a {
	margin-right: 10px;
	cursor: pointer;
}

.portrait_sm {
	width: 30px;
	border: 1px solid #ddd;
	border-radius: 15px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 15px;
}
.massage_ {
	padding-bottom: 15px;
}

.choice_ .glyphicon {
	margin-right: 5px;
	font-size: .8em;
}

.choices {
	padding-left: 5px;
	font-size: .8em;
}

input[name='massage'] {
	width: 93%;
	float: right;
}

#editor {
	text-decoration: none;
	text-shadow: none;
	font-style: normal;
	font-weight: normal;
	transition-duration: .3s;
}

#editor {
	border: 1px solid #ddd;
	border-radius: 4px 4px;
}

#editor.onfocus {
	box-shadow: 1px 1px 6px #66AFE9;
}

.fr-element {
	transition-duration: .3s;
}

.fr-element p {
	margin: 10px;
	padding: 0;
	background: transparent;
}

.quote_content {
    margin: 5px 0 0 0;
    width: 100%;
    height: auto;
    padding: 6px 12px 20px 12px;
}

.quote_content form {
	border-bottom: none;
}

.quote_content .quote_para {
	padding: 0;
	font-size: 1.1em;
    margin-bottom: 15px;
}

._choices_ {
	margin-bottom: 10px;
}

._choices_ input {
	margin-top: 0;
	margin-right: 15px;
	padding: 0;
}

.send {
	margin-top: 10px;
}

.send button {
    margin-right: 15px;
}

.send span {
	line-height: 28px;
	padding: 10px 12px;
	cursor: pointer;
	border: 1px solid #fff;
}

.send span:hover {
	background: #F4F6F9; 
	border: 1px solid #ddd;
	border-radius: 4px 4px;
}

.poll_con {
	margin-bottom: 10px;
}

.massage_up_btn , .massage_up_btn_ {
	float: right;
	margin-top: 10px;
}

a.upload,a.mention {
	margin-top: 5px;
	display: inline-block;
	position: relative;
	width: 26px;
	height: 26px;
	overflow: hidden;
	border: 1px solid #fff;
}

a.upload:before,a.mention:before {
	position: absolute;
    top: 5px;
    left: 5px;
}

a.upload:hover,a.mention:hover {
	cursor: pointer;
	border: 1px solid #ddd;
}

.file_input {
	position: absolute;
    font-size: 100px;
    top: 0;
    right: 0;
	opacity: 0;
	cursor: pointer;
}

.upload_ {
	display: inline-block;
	height: 25px;
	width: 100%;
	position: relative;
	overflow: hidden;
	cursor: pointer;
}

.upload_ span {
	display: inline-block;
	position: absolute;
	margin: 0;
	padding: 0;
}

.input_file_ {
	position: absolute;
    font-size: 100px;
    top: 0;
    right: 0;
	opacity: 0;
	cursor: pointer;
}

#upload_file_store {
	display: inline-block;
	width: auto;
}

.glyphicon-minus-sign {
	float: right;
	font-size: 1.5em;
	color: #46B7D9;
}

.glyphicon-minus-sign:hover {
	text-shadow: 1px 1px 2px #212121;
}

#mask {
	display: none;
	z-index: 1001;
	opacity: .5;
	position: absolute;
}

#mask_show {
	display: none;
	position: absolute;
	background: #fff;
    width: 400px;
    height: 100px;
    border: 1px solid #fff;
    border-radius: 5px 5px;
    z-index: 1002;
    opacity: 1;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

#mask_show span {
	float: right;
	padding: 0;
	margin-top: -25px;
	color: #fff;
	border: none;
	font-size: 1.5em;
}

#mask_show p {
	margin: 15px 0 0 15px;
}

#mask_show button {
	float: right;
	margin: 15px 7.5px 15px 7.5px;
}

hr {
	margin: 0;
}